@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');






:root {

    --back-color: rgb(253 186 116);
    --back-color2: #F95454;
    --back-color3: #fff;
    --back-color4: #000;
}


a {

    text-decoration: none;
    color: inherit;
}


header {

    font-family: "Montserrat Alternates", sans-serif;
    color: black !important;
    font-weight: 500 !important;
    font-size: 17px;
    position: fixed;
    top: 0;
    z-index: 10;

}

.login-bt:hover{

    color: #b35400;
}


.main-img {
    height: 450px;
    background-image: url("../image/pic-6.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    margin-left: 8px;
    border-radius: 10px;

}


.image-box {

    height: 150px;
    width: 100%;
    bottom: 6px;
    display: flex;
    align-items: center;
    gap: 10px;


}


.images {

    height: 150px;
    width: 150px;
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}


.slide-box {

    max-width: 500px;
    /* padding-left: 350px; */
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;

}

.images img:hover {

    transform: scale(1.1);
}


.image-box img {

    height: 100%;
    width: 150px;
    border-radius: 10px;
    transition: 0.6s;

}

.image-box .btn {

    background-color: white;
    padding: 8px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;

}

.btn:focus {

    background-color:var(--back-color);
}

.btn:hover {

    background-color:var(--back-color);

}




/* add to cart sec css */

.product-price {
    font-size: 1.8rem;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
}

.rating i {
    color: var(--back-color);
}

.add-to-cart {
    background-color: var(--back-color);
    color: white;
    font-weight: bold;
}

.add-to-cart:hover {
    background-color: var(--back-color);
}

.social-icons i {
    font-size: 1.2rem;
}



/* shoping cart css */
.cart-title {
    border-bottom: 3px solid black;
    display: inline-block;
    margin-bottom: 15px;
}

.btn-pink {
    background-color: var(--back-color);
    color: white;
}

.btn-pink:hover {
    background-color: var(--back-color);
}

.text-pink {
    color: var(--back-color);
}

.cart-image {
    max-width: 100px;
}

.product-box {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}





/* home page top sec */


.top-sec {

    background-color: var(--back-color);
    height: 300px;
    margin-top: 295px;

}

.top-sec img {

    top: -200px;
    left: 70px;
}



/* 
shop btn */



/* From Uiverse.io by yaasiinaxmed */
.shop-btn {
    --color: rgb(63, 63, 70);
    /* font-family: inherit; */
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    /* border: 2px solid var(--color); */
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    border: none;
}

.shop-btn::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

.shop-btn:hover {
    color: white;
}

.shop-btn:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
}

.shop-btn:hover::before {
    top: -30px;
    left: -30px;
}



.top-right {
    height: 100%;
    font-family: "Josefin Slab", serif;
    margin-top: 30px;

}

.top-right h1 {

    font-weight: 900;
    line-height: 1;

}




/* product sec css */



.featured-heading {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 6px;
    text-align: left;
    margin-bottom: 3rem;
    font-family: "Major Mono Display", monospace;
}

.product-title {
    font-family: monospace;
    font-size: 1.5rem;
    color: #b35400;
    letter-spacing: 1px;
}

.price-text {
    font-size: 1rem;
    margin: 8px 0;
}

.add-to-cart-btn {
    border: 1px solid black;
    padding: 8px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: rgb(161 98 7) ;
    color:white;
}


.bag-hover {
    transition: all 0.5s ease;
    cursor: pointer;
}

.bag-hover:hover {
    transform: translateY(-5px);
}


.view-all {

    font-family: "Montserrat Alternates", sans-serif;

}

.view-all:hover {

    color: #b35400;

}





/* login page css */

.login {

    margin-top: 95px;
}

.form-section {
    border: 1px solid #ddd;
    padding: 30px;
    background-color: #fff;
}

.form-footer {
    background-color: #f4f4f4;
    padding: 15px;
}

.btn-pink {
    background-color: var(--back-color);
    color: white;
    border: none;
}

.btn-pink:hover {
    background-color: var(--back-color);
}

.breadcrumb-text span {
    color: #000;
}

.breadcrumb-text span.active {
    color: #d49ca8;
    font-style: italic;
}

.breadcrumb-text span+span::before {
    content: " / ";
    color: #aaa;
}




.offer-sec {
    width: 100%;
    margin-top: 90px;

}

.offer-sec img {
    border-radius: 20px;
    width: 100%;
   
}


.singal-product {

    margin-top: 100px;
}




.dobble-image img {

    width: 100%;
    height: 400px;
    border-radius: 10px;
    transition:0.5s;

}




.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
}

.footer .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 5px;
    border-radius: 4px;
    font-size: 16px;
    color: #000;
}

.facebook {
    background-color: #f1b5bb;
}

.twitter {
    background-color: #b6e7e7;
}

.tumblr {
    background-color: #e8b5bc;
}

.google {
    background-color: #f5f3e3;
}

.dribbble {
    background-color: #f1b5bb;
}

.footer-bottom {
    background-color: #eee;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #000;
}

.footer a:hover {
    text-decoration: underline;
}




/* govind code css */


.contact-sec{

    margin-top:90px;

}

h4{
    border-top: 1px solid grey;
    border-bottom: 1px solid gray;
    font-size: 18px;
    padding: 10px;
}

.boton{
   background-color:var(--back-color);
   color: #ffff;
   font-size: 12px;
   border-radius: 0%;
   border: none;
   padding:6px;
}

.boton:hover{
    background-color: black;
    color: #ffff;
}

.head_h2:hover{
     color:  rgba(255, 0, 0, 0.5);
     cursor: pointer;
}




/* about  */



.title_abt {
    text-align: center;
    margin: 60px 0 40px;
    background-color:var(--back-color);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .middle_s {
    padding: 20px;
    text-align: center;
  }

  .midle_right img {
    object-fit: cover;
    border-radius: 8px;
  }

  .top_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .buton_s {
    background-color:var(--back-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .buton_s:hover {
    background-color: #0056b3;
  }